@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities {
  .animate-highlight {
    @apply transition-colors ease-in-out duration-300;
    animation-fill-mode: forwards;
  }
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-animation {
  animation: rotateIcon 1s linear;
}



@keyframes fadeAndSpin {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}


.fade-and-spin {
  animation: fadeAndSpin 2s linear forwards;
}

@keyframes drawChartLine {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawChartLineReverse {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}


.show-chart-line {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: drawChartLine 1s ease forwards;
}

.hide-chart-line {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation: drawChartLineReverse 0.3s  ease forwards;
}

@keyframes fadeAndShrink {
  0% {
    stroke-opacity: 1;
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    stroke-opacity: 0;
    transform: translate(10px, -10px) rotate(45deg);
  }
}


.slide-down {
  transition: transform 0.3s ease;
}

.hidden-chart {
  transform: translateY(-100%);
}

.visible-chart {
  transform: translateY(0%);
}

.chart-container {
  transition: max-height 0.3s linear;
  overflow: hidden;
  max-height: 0;
}

.chart-visible {
  max-height: 450px;
}

.table-container {
  transition: transform 0.3s linear;
}

.table-lowered {
  transform: translateY(0%);
}